# Model Training

The focus of this notebook will be to train the model using the data prepared in the data-prep notebook.

In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.tabular import *

In [3]:
data_path = Path('./data/')
train_df = next(pd.read_csv(data_path/'merge_3.csv', chunksize=10000))

In [4]:
train_df.head().T

,0,1,2,3,4
id,HOBBIES_1_001_CA_1_validation,HOBBIES_1_002_CA_1_validation,HOBBIES_1_003_CA_1_validation,HOBBIES_1_004_CA_1_validation,HOBBIES_1_005_CA_1_validation
item_id,HOBBIES_1_001,HOBBIES_1_002,HOBBIES_1_003,HOBBIES_1_004,HOBBIES_1_005
dept_id,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1
cat_id,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES
store_id,CA_1,CA_1,CA_1,CA_1,CA_1
state_id,CA,CA,CA,CA,CA
d,d_1,d_1,d_1,d_1,d_1
value,0,0,0,0,0
date,2011-01-29,2011-01-29,2011-01-29,2011-01-29,2011-01-29
wm_yr_wk,11101,11101,11101,11101,11101
weekday,Saturday,Saturday,Saturday,Saturday,Saturday
wday,1,1,1,1,1
month,1,1,1,1,1
year,2011,2011,2011,2011,2011
event_name_1,none,none,none,none,none
event_type_1,none,none,none,none,none
event_name_2,none,none,none,none,none
event_type_2,none,none,none,none,none
snap_CA,0,0,0,0,0
snap_TX,0,0,0,0,0
snap_WI,0,0,0,0,0
Year,2011,2011,2011,2011,2011
Month,1,1,1,1,1
Week,4,4,4,4,4
Day,29,29,29,29,29
Dayofweek,5,5,5,5,5
Dayofyear,29,29,29,29,29
Is_month_end,False,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
sell_price,NaN,NaN,NaN,NaN,NaN